.cart-items-container{
    display: grid;
    background-color: rgb(224, 144, 98);
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 50px;
    padding: 20px;
    height: auto;
  }