*{
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.shopping-section{
  display: grid;
  background-color: bisque;
  grid-template-columns: repeat(3, minmax(240px, 1fr));
  gap: 50px;
  padding: 20px;
}

.item-card{
  padding: 20px;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-rows: 240px 1fr 1fr;
  grid-template-areas: 
  'img'
  'title'
  'price';
  background-color: rgb(159, 163, 158);
  border-radius: 20px;
}

.item-price{
  grid-area: price;
}

.item-title{
  font-size: 20px;

  grid-area: title;
}

.item-img{
  grid-area: img;
  max-width: 240px;
  max-height: 240px;
  background-color: aqua;
  /* align-self: center; */
}