*{


}

.shopping-container{
  background-color: rgb(247, 247, 247);

}

.shopping-section{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(316px, 1fr));
  gap: 50px;
  padding: 20px;
}

.item-card{
  padding: 60px 20px;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-rows: 160px 1fr 1fr;
  grid-template-areas: 
  'img'
  'title'
  'price';
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.664);
  gap: 10px;
  }
  
.item-card form{
height: 100%;
}

.item-card input{
  padding: 5px;
  border-radius: 10px;
  border: black 1px solid;
  max-width: 80px;
  margin-right: 10px;
  height: auto;
  text-align: center;
}

.item-card button{
  background-color: rgb(111, 226, 111);
}

.shopping-state-info{
  padding: 20px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.664);
  font-size: large;
  max-width: 50%;
  margin: 0 auto;
}
  
.item-price{
  grid-area: price;
}

.item-title{
  font-size: 20px;

  grid-area: title;
}

.item-img{
  
  grid-area: img;
  max-width: 160px;
  max-height: 160px;
  background-color: aqua;
  /* align-self: center; */
}